td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.staff {
    cursor: pointer;
}

.staff:hover {
    background: #ddd;
}

.content {
    padding-top: 20px;
}

#staff_data {
    box-shadow: rgba(33,63,81,0.5) 0 0 15px 0;
    width: 100%;
}